.videoList {
    flex: 30%;
    height: 100%;
    padding: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}

@media screen and (max-width: 600px) {
    .videoList {
        flex: 100%;
        border: none;
    }
}