.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontalCenter{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loading img {
    width: 10rem;
    height: 10rem;
}